<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="https://res.cloudinary.com/dzbcst18v/image/upload/v1670310715/logo_odlfni.png" width="40px"
                 class="rounded-pill">
        </a>
        <div class="collapse navbar-collapse" id="mynavbar" style="position: relative">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Trang chủ</a>
                </li>
                {% if current_user.is_authenticated %}
                    {% for c in classes %}
                        <li class="nav-item">
                            <a class="nav-link {% if 'class_id' in request.args
                            and c.id == request.args.class_id|int %}
                            active
                            {% endif %}"
                               href="/?class_id={{ c.id }}">{{ c.name }}</a>
                        </li>
                    {% endfor %}
                    <li class="nav-item">
                        <a class="nav-link" href="/avg">Bảng điểm lớp</a>
                    </li>
                {% endif %}
                {% if current_user.is_authenticated %}
                    <div class="d-flex" style="position: absolute; right:  0px">
                        <li class="nav-item">
                            <a class="nav-link" href="/admin">
                                <img src="{{ current_user.avatar }}" width="25px" class="rounded-circle"
                                     name="{{ current_user.name }}"/>
                                Chào {{ current_user.name }}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Đăng xuất</a>
                        </li>
                    </div>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Đăng nhập</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Đăng ký</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

{% if current_user.is_authenticated %}
    <div style="position: relative">
        <div style="position: absolute; right:  0px">
            <form class="d-inline-flex" action="/" style="padding: 10px">
                <input class="form-control me-2" name="keyword" type="text" placeholder="Nhập từ khóa...">
                <button class="btn btn-danger" type="submit">Tìm</button>
            </form>
        </div>
    </div>
{% endif %}